<section class="todoapp" data-controller="todoList">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus data-action="keydown->todoList#add">
  </header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox" data-action="todoList#toggleAll">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <% @todos.each do |todo| %>
        <%= render partial: todo %>
      <% end %>
    </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <% if @all_todos.count > 0 %>
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong><%= @all_todos.reject(&:checked).count %></strong> item left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <%= link_to "All", todos_path, class: (@status == Todo::FilterStatus::ALL) ? "selected" : "" %>
        </li>
        <li>
          <%= link_to "Active", todos_path(checked: false), class: (@status == Todo::FilterStatus::ACTIVE) ? "selected" : "" %>
        </li>
        <li>
          <%= link_to "Completed", todos_path(checked: true), class: (@status == Todo::FilterStatus::COMPLETED) ? "selected" : "" %>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <% if @all_todos.select(&:checked).count > 0 %>
        <button class="clear-completed" data-action="todoList#clearCompleted">Clear completed</button>
      <% end %>
    </footer>
  <% end %>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <!-- Change this out with your name and url ↓ -->
  <p>Created by <a href="http://todomvc.com">satotoru</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
